{%extends 'shop/base.html'%}
{% load static%}

{%block head%}
<title>Корзина</title>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{%endblock%}


{% block content%}
{% if not cart_items%}
<div class="text-center">
    <br>
    <h1 class="text-center cart-title">
        Ваша Корзина Пуста
    </h1>
    <a href="#">
        <button type="button" class="btn btn-primary btn-lg btn-block">Назад к товарам</button>
    </a>
</div>
{% else %}
<div style="height:100px;">
    <div class="text-center">
        <p class="fs-2 fw-bold mt-3 cart-title">Корзина</p>
    </div>
</div>
<div class="row mx-auto main-div">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table table-hover cart-table">
            <thead class="cart-thead">
            <tr>
                <th colspan="4">
                    Ваши Товары
                </th>
            </tr>
            </thead>
            {% for cart_item in cart_items%}
            <tr>
                <td>
                    <a href="{{cart_item.product.get_url}}">
                        <img src="{{cart_item.product.img}}" alt="" width="100"
                             height="100">
                    </a>
                </td>
                <td class="text-start">
                    {{cart_item.product.name}}
                    <br>
                    Цена: {{cart_item.product.price}}₽
                    <br>
                    Кол-во: {{cart_item.quantity}} x {{cart_item.product.price}}₽
                    <br>
                    id: {{cart_item.product.id}}
                </td>
                <td class="text-start">
                    Итого:
                    <br>
                    {{cart_item.sum_total}}₽
                </td>
                {%if cart_item.quantity < cart_item.product.stock%}
                 <td>
                    <a href="{% url 'add_cart' cart_item.product.id %}"><span class="material-symbols-outlined cart-plus">
                        add_circle
                    </span></a>
                    <a href=""><span class="material-symbols-outlined cart-minus">
                        <span class="material-symbols-outlined">
                    do_not_disturb_on
                    </span>
                    </span></a>
                    <a href=""><span class="material-symbols-outlined cart-delete">
                        delete
                    </span></a>
                </td>
                {%else%}
                <td>
                    <a href="#"><span class="material-symbols-outlined cart-plus text-secondary">
                        add_circle
                    </span></a>
                    <a href=""><span class="material-symbols-outlined cart-minus">
                        <span class="material-symbols-outlined">
                    do_not_disturb_on
                    </span>
                    </span></a>
                    <a href=""><span class="material-symbols-outlined cart-delete">
                        delete
                    </span></a>
                {%endif%}
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table cart-table">
            <thead class="cart-thead">
            <tr>
                <th colspan="4">
                    Оплата
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Проверьте корзину перед оплатой
                </td>
            </tr>
            <tr class="text">
                <td>
                    Сумма всех товаров: <strong>{{total}}₽</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col">
                <a href="{% url 'home'%}">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Назад к товарам</button>
                </a>
            </div>
            <div class="col">
                <a href="#">
                    <button type="button" class="btn btn-primary btn-lg btn-block">К оплате</button>
                </a>
            </div>
        </div>
    </div>
</div>
{%endif%}

{%endblock%}