{%extends 'shop/base.html'%}
{% load static%}
{%block head%}
<link href="{% static 'css/detail.css'%}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
      rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
      rel="stylesheet"/>
<title>{{product.name}}</title>
{%endblock%}
{% block content%}

<div class="container-fluid" style="margin-top:10px;">

    <div class="container">
        <div class="row d-flex justify-content-between">
            <div>
                <p class="fw-bold fs-4">{{product.name}}</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-8 col-xl-3">
                <img class="img-thumbnail" src="{{product.img}}"
                     style="width:300px;height:400px;margin-bottom:20px;">
            </div>
            <div class="col-md-4 mb-3">
                <h4>Характеристики</h4>
                {% for key, val in info_sm%}

                <div class="row">
                    <div class="col border-bottom">
                        <span class="text-muted">{{key}}</span>
                    </div>
                    <div class="col d-flex justify-content-between">
                        <span>{{val}}</span>
                    </div>
                </div>

                {% endfor %}

            </div>
            <div class="col-md-4 text-center mx-auto">
                <div class="card" style="width: 18rem; height:140px;">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold fs-4">{{product.price}}₽</h5>
                        <div class='mt-2'>
                            <a class="btn btn-primary btn-sm" href="{% url 'add_cart' product.id%}">Добавить В
                                Корзину</a>
                            <a class="btn btn-outline-danger btn-sm rounded-5" href="#">
                                <span class="material-symbols-outlined" style="padding-top:2px;">favorite</span>
                            </a>
                            <div class="row">
                                {% if product.stock < 2 %}
                                <p class="card-text text-danger">Осталось Всего {{product.stock}}шт! </p>
                                {% elif product.stock > 15 %}
                                <p class="card-text text-success">В Наличии</p>
                                {% else %}
                                <p class="card-text text-success">В Наличии {{product.stock}}шт </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid" style="padding-left:0;">
            <div class="col-12">
                <button class="btn btn-primary mt-2" data-bs-target="#demo" data-bs-toggle="collapse" type="button">
                    Посмотреть
                    Описание
                </button>
                <div class="collapse" id="demo" style="margin-top:10px; font-size:16px;">
                    {{product.description}}
                </div>
                <button class="btn btn-primary mt-2" data-bs-target="#demo1" data-bs-toggle="collapse" type="button">
                    Все
                    Характеристики
                </button>
                <div class="collapse" id="demo1" style="margin-top:10px; font-size:16px;">
                    <div class="col-md-6 mb-3">
                        <h4>Характеристики</h4>
                        {% for key, val in info%}

                        <div class="row">
                            <div class="col border-bottom">
                                <span class="text-muted">{{key}}</span>
                            </div>
                            <div class="col d-flex justify-content-between ">
                                <span>{{val}}</span>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container">
            <div class="row">
                <h1 class="fs-4 fw-bold mt-5">Оставить Отзыв</h1>
                <div class="col">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form%}
                        {{field}}
                        {% endfor %}
                    </form>
                </div>
            </div>
            <div class="container">
                Другие Отзывы
            </div>
        </div>

    </div>
</div>
{% endblock %}