{%extends 'shop/base.html'%}
{% load static%}
{%block head%}
<link href="{% static 'css/user.css' %}" rel="stylesheet">
<title>Вход</title>
{% endblock %}

{%block content%}
<div class="container text-center user-form">
    <div class="user-form2 col">
        <h1>Вход</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit">Войти</button>
            <a class="btn btn-primary " href="#">Забыли Пароль</a>
        </form>
    </div>
</div>
{% endblock %}