{% extends 'shop/base.html' %}
{% load static %}
{% block head%}

<title>Главная Страница</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
{% endblock %}
{% block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Hi,
                {% if request.user.is_authenticated%}
                {{request.user.username}}
                {% else %}
                User
                {% endif %}
            </h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to shop</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
            {% for product in products%}
            <div class="col mb-5 d-flex justify-content-center">
                <div class="card h-100 product_card ">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{product.img.url}}" alt="..." height="220" width="450"/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <!-- Product price-->
                            {{product.price}} ₽
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <i class="fa-star fa-sm text-primary fas active">
                                <span class="me-2">{{product.avg_rating}}</span>
                            </i>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="row">
                                <input type="hidden" name="_token" value="{{ csrf_token }}">
                            <div class="col-6 text-start me-2">
                                <a class="btn btn-secondary rounded-3" style="width:105px;" href="{% url 'one_pr' product.slug%}">К товару</a>
                            </div>
                            <div class="col-5 text-center">
                                <button class="btn btn-success rounded-3 btn-sm me-2" onclick="add_to_cart({{product.id}})">
                                    <i class="fas fa-cart-plus fa-2x"></i>
                                </button>
                            </div>
<!--                            <div class="col-3 text-end">-->
<!--                                <button class="btn btn-danger rounded-3 btn-sm" onclick="add_to_wish({{product.id}})">-->
<!--                                    <i class="far fa-heart fa-2x"></i>-->
<!--                                </button>-->
<!--                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
            {%endfor%}
        </div>
        <div class="container mb-5">
            <div class="pagination d-flex justify-content-center fw-bold fs-5">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; Перв</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Пред</a>
                    {% endif %}

                    <span class="current ">
                        Стр {{ page_obj.number }} Из {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">След</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">Посл &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts%}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock%}

