<nav class="navbar navbar-expand-lg bg-dark " data-bs-theme="dark">
    <div class="container-fluid">
        <span class="material-symbols-outlined" style="color:white;">storefront</span>
        <a class="navbar-brand text-uppercase" href="#" style="margin-left:10px;">Store</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler bg-light"
                data-bs-target="#navbarNav" data-bs-theme="dark" data-bs-toggle="collapse"
                type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto ">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-uppercase fw-bold" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase fw-bold" href="{% url 'cart_detail' %}">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase fw-bold" href="#">О нас</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle text-uppercase fw-bold" data-bs-toggle="dropdown"
                       href="#" role="button">
                        Каталог
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="{% url 'home' %}">Все товары</a></li>
                        {%for category in categories%}
                        <li><a class="dropdown-item"
                               href="{% url 'pr_by_cat' category %}">{{category.category_name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input aria-label="Search" class="form-control me-2 form-control-sm" placeholder="Search" type="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>