{%extends 'shop/base.html'%}
{% load static %}
{% block head %}
<title>Профиль</title>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active"><a href="#">Profile</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'edit_profile' request.user.username %}">Edit
                            Profile</a></li>
                        <li class="breadcrumb-item"><a href="#">Change Password</a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{more_info_user.avatar.url}}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; height:145px;">
                        <h5 class="my-3">{{request.user.username}}</h5>
                        <p class="text-muted mb-1">Покупатель</p>
                    </div>
                </div>
                <!--                <div class="card mb-4 mb-lg-0">-->
                <!--                    <div class="card-body p-0">-->
                <!--                        <ul class="list-group list-group-flush rounded-3">-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fas fa-globe fa-lg text-warning"></i>-->
                <!--                                <p class="mb-0">https://mdbootstrap.com</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>-->
                <!--                                <p class="mb-0">@mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{request.user.first_name}} {{request.user.last_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                {% if more_info_user.email_confirm%}
                                <p class="text-muted mb-0">{{request.user.email}}</p>
                                {% else%}
                                <div class="d-inline-flex">
                                    <input type="hidden" name="_token" value="{{ csrf_token }}">
                                    <p class="text-warning mb-0">{{request.user.email}}
                                        <button class="btn btn-outline-primary btn-sm ms-2 email_btn">Подтвердить
                                        </button>
                                    <div class="email_confirm_div d-inline-flex ms-2 invisible">
                                        <input type="text" placeholder="Ваш код" class="form-control auth_email_key"
                                               style="width:100px; height:30px;" name="auth_email_key">
                                        <button type="submit" class="btn btn-outline-primary btn-sm ms-1 sent_btn_key"
                                                style="width:120px;">Отправить Код
                                        </button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{% if more_info_user.phone%} {{more_info_user.phone}}
                                    {%else%} - {%endif%}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{% if more_info_user.address%}
                                    {{more_info_user.address}}
                                    {% else %}
                                    -
                                    {%endif%}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0" style="max-height:500px; overflow:hidden;">
                            <div class="card-body history_orders" style="max-height:500px; overflow:hidden;">
                                <p class="mb-4"><span class="text-primary font-italic me-1">История Заказов</span>
                                </p>
                                {% for order in history_orders %}
                                <div class="block-order">
                                    <p class="mb-1" style="font-size: .77rem;">Заказ: № {{order.id}} - {{order.total}}
                                        ₽</p>
                                    <div>
                                        <div>
                                            <p>Статус Заказа: {{order.status}}</p>
                                        </div>
                                        {%for item in order.order_items.all%}
                                        <div class="mb-1">
                                            <a href="{% url 'one_pr' item.product.slug %}" class="d-flex flex-row "
                                               style="text-decoration:none;">
                                                <img src="{{item.product.img}}" alt="" width="40" height="40">
                                                <p class=" ms-1 text-dark">{{item.product.name|slice:":40"}}</p>
                                            </a>
                                            <p class="ms-1 mt-1 text-dark">{{item.product.price}}₽ x
                                                {{item.quantity}}шт</p>
                                        </div>
                                        {% endfor%}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary show_all_history">Показать Всю Историю</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body current_orders" style="max-height:500px; overflow:hidden;">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Текущие Заказы</span>
                                </p>
                                {% for order in current_orders %}
                                <div class="block-order">
                                    <p class="mb-1" style="font-size: .77rem;">Заказ: № {{order.id}} - {{order.total}}
                                        ₽</p>
                                    <div>
                                        <div>
                                            <p>Статус Заказа: {{order.status}}</p>
                                        </div>
                                        {%for item in order.order_items.all%}
                                        <div>
                                            <a href="{% url 'one_pr' item.product.slug %}" class="d-flex flex-row"
                                               style="text-decoration:none;">
                                                <img src="{{item.product.img}}" alt="" width="40" height="40">
                                                <p class=" ms-1 text-dark">{{item.product.name|slice:":40"}}</p>
                                            </a>
                                            <p class="ms-1 mt-1 text-dark">{{item.product.price}}₽ x
                                                {{item.quantity}}шт</p>
                                        </div>
                                        {% endfor%}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary show_all_chistory">Показать Всю Историю</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="need_to_footer"></div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/profile.js'%}"></script>
{% endblock %}
