{%extends 'shop/base.html'%}
{% load static%}
{%block head%}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
<title>Регистрация</title>
{% endblock %}

{%block content%}
<div class="container text-center user-form">
    <div class="user-form2 col">
        <h1>Регистрация</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            {% if form.errors %}
            <p class="text-danger mx-auto">Неправильный пароль, мин 8 символов и не должен совпадать с Username, и не
                должен содержать только цифры</p>
            {% endif %}
            <button type="submit" class="btn btn-primary ">Регистрация</button>
            <a href="#" class="btn btn-primary ">Забыли Пароль</a>
        </form>
    </div>
</div>
{% endblock %}