{%extends 'shop/base.html'%}
{% load static%}
{% block head%}
<link rel="stylesheet" href="{%static 'css/wishlist.css' %}">
{% endblock%}


{% block content%}
    <div class="container text-center">
        <p class="fw-bold fs-3 title-table">Избранное</p>
    </div>
<div class="row mx-auto main-div">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <table class="table table-hover">
            <thead class="thead-wish">
            <tr>
                <th colspan="4">
                    {%if wish_products%}
                    Ваше Избранное
                    {%else%}
                    У вас нету ничего в Избранном
                    {%endif%}
                </th>
            </tr>
            </thead>
            {% for wish_product in wish_products%}
            <tr class="all_data">
                <td class="col-1">
                    <a href="{{wish_product.product.get_url}}">
                        <img alt="" height="140" src="{{wish_product.product.img}}"
                             width="100" class="me-3">
                    </a>
                </td>
                <td class="text-start col-4">
                    {{wish_product.product.name}}
                    <br>
                    Цена: {{wish_product.product.price}}₽
                    <br>
                    id: {{wish_product.product.id}}
                    <br>
                    Добавлен: {{wish_product.date}}
                </td>
                <td>
                    <input type="hidden" name="_token" value="{{ csrf_token }}" />
                    <input type="hidden" class="prod_id" value="{{wish_product.product.id}}">
                    <button class="btn btn-success rounded-5">
                        <span class="material-symbols-outlined">shopping_cart</span>
                    </button>
                    <button class="btn btn-danger rounded-5 deleteBtnWl">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
<div class="need_to_footer"></div>
{% endblock%}

{% block scripts%}
<script src="{% static 'js/wl_delete.js'%}"></script>
{% endblock%}