body {
    background: #eee;
    height:100vh;
}
body{ min-height: 100vh; margin:0; }


/* The article fills all the space between header & footer */
body{ display:flex; flex-direction:column; }
.need_to_footer{ flex:1; }

.cards{
    box-shadow: 0px 5px 20px #c2c2c2;
    border: 0;
}

.avg_rating{
    position: relative;
    font-size: 18px;
    top: -8px;
    left: -4px;
}

.avg_rating span{
    margin-right: 5px;
}

.count_product_in_cart{
    text-align: center;
    position: relative;
    right: 8px;
    padding-left: 6px;
    padding-right: 7px;
    background-color: #cf5d5d;
    border-radius: 15px;
    text-decoration: none;
}

.count_product_in_wishlist{
    text-align: center;
    position: relative;
    right: 7px;
    padding-left: 6px;
    padding-right: 7px;
    background-color: #cf5d5d;
    border-radius: 15px;
    text-decoration: none;
}