body {
    background: #eee;

}
body{ min-height: 100vh; margin:0; }


/* The article fills all the space between header & footer */
body{ display:flex; flex-direction:column; }
.need_to_footer{ flex:1; }

.product_card{
    width: 270px;
}