#id_feedback{
    float: left;
    max-width: 700px;
    max-height: 100px;
}

textarea{
    margin-bottom: 10px;
    resize: none
}

#id_files{
    width: 400px;
}
.rating {
  width: 250px;
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.rating:not(:checked)>input {
  display: none;
}

.rating:not(:checked)>label {
  width: 40px;
  cursor: pointer;
  font-size: 40px;
  color: lightgrey;
  text-align: center;
  line-height: 1;
}

.rating:not(:checked)>label:before {
  content: '★';
}

.rating>input:checked~label {
  color: gold;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: gold;
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: gold;
}

.avg_rating{
    position: relative;
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10px;
}

.avg_rating span{
    margin-right:3px;
}