.flex-container{
    display: flex;

}
.flex-container div{
    margin-right: 10px;

}

#id_feedback{
    float: left;
    max-width: 700px;
    max-height: 100px;
}

textarea{
resize: none
}

#id_files{
    width: 400px;
}

label[for='id_feedback']{
    display: none;
}

label[for='id_files']{
    display: none;
}

textarea{
    margin-bottom: 10px;
}

label{
    margin-top: 10px;
}

.sent_review{
    margin-left: 0;
    margin-top: 10px;
}

.people_icon{
    position: relative;
    right: 5px;
    top: 5px;
}
