.user-form label{
    display: none;
}

body{ 
    min-height: 100vh; 
    margin:0; 
    background-color: #d9d9d9;
}


/* The article fills all the space between header & footer */
body{ display:flex; flex-direction:column; }
.user-form{ flex:1; }

.user-form2{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 400px;
    max-height: 600px;
    border-radius: 20px;
    box-shadow: 5px 10px 60px lightblue;
}

.user-form2 h1{
    margin-bottom: 30px;
}

.user-form2 input{
    padding: 5px;
    padding-left: 20px;
    border-radius: 15px;
    outline: 0;
    border: 0;
    box-shadow: 0px 5px 20px #c2c2c2;
}

.user-form2 input:focus{
    color: black;
}

.errorlist{
    list-style: none;
}

.errorlist li {
    margin-left: 5px;
    margin-right: 5px;
    color: red;
}