
body{ 

    margin:0; 
    background-color: #d9d9d9;
}


.user-form2{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 400px;
    max-height: 600px;
    border-radius: 20px;
    box-shadow: 5px 10px 60px lightblue;
    align-items: center;
}

.user-form2 h1{
    margin-bottom: 30px;
}

.user-form2 input{
    padding-left: 20px;
    border-radius: 15px;
    margin-left: 60px;
}

.user-form2 input:focus{
    color: black;
}

.errorlist{
    list-style: none;
}

.errorlist li {
    margin-left: 5px;
    margin-right: 5px;
    color: red;
}

.alert{
    width: 80%;
    margin-left: 40px;
    
}
.input-group{
    margin-left: 70px;
    width:270px;
    display: flex;
    justify-content: center;
}

.input-group-text{
    border-radius: 15px 0 0 15px;
}

textarea {
    height: 100px;
}

.rating {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  
  .rating:not(:checked)>input {
    display: none;
  }
  
  .rating:not(:checked)>label {
    width: 40px;
    cursor: pointer;
    font-size: 40px;
    color: lightgrey;
    text-align: center;
    line-height: 1;
  }
  
  .rating:not(:checked)>label:before {
    content: '★';
  }
  
  .rating>input:checked~label {
    color: gold;
  }
  
  .rating:not(:checked)>label:hover,
  .rating:not(:checked)>label:hover~label {
    color: gold;
  }
  
  .rating>input:checked+label:hover,
  .rating>input:checked+label:hover~label,
  .rating>input:checked~label:hover,
  .rating>input:checked~label:hover~label,
  .rating>label:hover~input:checked~label {
    color: gold;
  }