.cart-table{
    font-size:18px;
    min-width:480px;

}

.thead-wish , .title-table{
    text-transform:uppercase;
    font-weight:normal;
    letter-spacing: .2em;
}


.btns-wl{
    display: flex;
    flex-direction: column;
    
}

.btns-wl button{
    width: 50px;
    margin-left: 100px;
    margin-right: 0;
}

tr {
    border: 20px solid #eee;
   }