{% extends 'shop/base.html' %}
{% load static bootstrap5 %}

{% block head%}
<link rel="stylesheet" href="{% static 'css/registration/change_password.css' %}">
<title>Стать Продавцом</title>
{% endblock %}

{% block content%}
<div class="container shadow p-5 main_content rounded-4">
        <h2 class="text-center mt-0 mb-5">Стать Продавцом</h2>
        <div class="d-flex justify-content-center">
            <form action="" method="post">
                {% csrf_token%}
                {% bootstrap_field form.email show_label='skip' %}
                {% bootstrap_field form.phone show_label='skip' %}
                {% bootstrap_field form.password show_label='skip' %}
                {% bootstrap_form_errors form %}
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary btn-block">Стать Продавцом</button>
                </div>
            </form>
        </div>
</div>

{% endblock %}
