{%extends 'shop/base.html'%}
{% load static %}
{% block head %}
<title>Профиль</title>
<style>
    a{
    text-decoration: none;
    }

    #copytext1:hover{
    cursor:pointer;
    }
    body{
    background-color: #eee;
}
</style>
{% endblock %}

{% block content %}
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active"><a href="{% url 'profile' request.user.username%}">Профиль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'edit_profile' request.user.username %}">Редактировать
                            Профиль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'password_change'%}">Сменить Пароль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'email_change'%}">Сменить Email</a></li>
                        {% if not is_seller%}
                        <li class="breadcrumb-item"><a href="{% url 'become_seller' %}">Стать Продавцом</a></li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'product_seller'%}">Выставить Товар</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'seller'%}">Ваша Статистика</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'seller_feedback_list' request.user.username %}">Ваши Отзывы</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'list_seller_products' request.user.username%}">Ваши Товары</a></li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if more_info_user.avatar %}
                        <img src="{{more_info_user.avatar.url}}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; height:145px;">
                        {% else %}
                        <img src="https://media.istockphoto.com/id/678536514/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C-%D0%B7%D0%BD%D0%B0%D1%87%D0%BE%D0%BA-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%BF%D0%BB%D0%BE%D1%81%D0%BA%D0%B8%D0%B9-%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA-%D0%BF%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8C-%D0%B0%D0%B2%D0%B0%D1%82%D0%B0%D1%80.jpg?s=612x612&w=0&k=20&c=JSZ-GRSTLTIm3LHD5ijYf4LnNOFuMo779YExwu4RAhQ="
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; height:145px;">
                        {% endif %}
                        <h5 class="my-3">{{request.user.username}}</h5>
                        <p class="text-muted mb-1">
                            {% if is_seller%}
                            Продавец
                            {%else%}
                            Покупатель
                            {%endif%}
                        </p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <span class="fs-5 text-secondary fst-italic fw-bold">Вы потратили</span>
                                <p class="mb-0 fw-bold text-danger fs-5">{{more_info_user.all_spent_money}}</p>
                            </li>
                            {% if more_info_user.is_seller%}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <span class="fs-5 text-secondary fst-italic fw-bold">Вы заработали</span>
                                <p class="mb-0 fw-bold text-success fs-5">{{more_info_user.all_earned_money}}</p>
                            </li>
                            {% endif%}
                        </ul>
                    </div>
                </div>
                {% if promos%}
                <div class="card mt-4 mb-lg-0">
                    <div class="card-body p-0">
                        <h1 class="fs-5 text-secondary fst-italic fw-bold text-center mt-2">Ваши Промокоды</h1>
                        <hr>
                        {% for promo in promos%}
                        <div class="row mb-2 ms-1">
                            <div class="col-sm-5">
                                <p class="mb-0 text-secondary fst-italic fw-bold">На : {{promo.amount_of_discount}}
                                    {% if promo.is_percent%}
                                    %
                                    {%else%}
                                    руб
                                    {% endif%}
                                </p>
                                <p class="mb-0 text-secondary fst-italic fw-bold">Промокод</p>

                            </div>
                            <div class="col-sm-7">
                                <p class="mb-0 text-secondary fst-italic fw-bold">От {{promo.from_the_price}}руб</p>
                                <p class="text-primary fw-normal" id="copytext1" onclick="copytext('#copytext1')">{{promo.name}}</p>
                            </div>
                        </div>
                        <hr>
                        {%endfor%}
                    </div>
                </div>
                {% endif%}
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h1 class="fs-3 text-secondary fst-italic fw-bold text-center">Ваш Профиль</h1>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Имя Фамилия</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{more_info_user.first_name}} {{more_info_user.last_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                {% if more_info_user.email_confirm%}
                                <p class="text-muted mb-0">{{request.user.email}}</p>
                                {% else%}
                                <div class="d-inline-flex">
                                    <input type="hidden" name="_token" value="{{ csrf_token }}">
                                    <p class="text-warning mb-0">{{request.user.email}}
                                        <button class="btn btn-primary btn-sm ms-2 email_btn">Подтвердить
                                        </button>
                                    <div class="email_confirm_div d-inline-flex ms-2 invisible">
                                        <input type="text" placeholder="Ваш код" class="form-control auth_email_key"
                                               style="width:100px; height:30px;" name="auth_email_key">
                                        <button type="submit" class="btn btn-primary btn-sm ms-1 sent_btn_key"
                                                style="width:120px;">Отправить
                                        </button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Телефон</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{% if more_info_user.phone%} {{more_info_user.phone}}
                                    {%else%} - {%endif%}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Адрес</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{% if more_info_user.address%}
                                    {{more_info_user.address}}
                                    {% else %}
                                    -
                                    {%endif%}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if history_orders%}
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body history_orders" style="max-height:500px; overflow:hidden;">
                                <p class="mb-4"><span class="text-primary fst-italic me-1">История Заказов</span>
                                </p>
                                {% for order in history_orders %}
                                <div class="block-order">
                                    <p class="mb-1 fs-5 text-secondary fst-italic fw-bold" >Заказ: № {{order.id}} - {{order.total}}
                                        ₽</p>
                                    <div>
                                        <div>
                                            <p class=" text-secondary fst-italic fw-bold mb-0">Статус Заказа: {{order.status}}</p>
                                            <a href="{% url 'order_detail_pk' order.id %}" class="btn btn-outline-primary btn-sm mt-1 mb-1">Детали</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary show_all_history">Показать Всю Историю</button>
                        </div>
                    </div>
                    {% endif%}
                    {% if current_orders%}
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body current_orders" style="max-height:500px; overflow:hidden;">
                                <p class="mb-4"><span class="text-primary fst-italic me-1">Текущие Заказы</span>
                                </p>
                                {% for order in current_orders %}
                                <div class="block-order">
                                    <p class="mb-1 fs-5 text-secondary fst-italic fw-bold" >Заказ: № {{order.id}} - {{order.total}}
                                        ₽</p>
                                    <div>
                                        <div>
                                            <p class=" text-secondary fst-italic fw-bold mb-0">Статус Заказа: {{order.status}}</p>
                                            <a href="{% url 'order_detail_pk' order.id %}" class="btn btn-outline-primary btn-sm mt-1 mb-1">Детали</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary show_all_chistory">Показать Всю Историю</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts%}
<script src="{% static 'js/profile_user/profile.js'%}"></script>
{% endblock %}
