{%extends 'shop/base.html'%}
{% load static %}
{% block head %}
<title>Профиль</title>
<style>
    a{
    text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item "><a
                                href="{% url 'profile' request.user.username%}">Профиль</a></li>
                        <li class="breadcrumb-item active"><a href="#">Редактировать
                            Профиль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'password_change'%}">Сменить Пароль</a></li>
                        {% if not is_seller%}
                        <li class="breadcrumb-item"><a href="{% url 'become_seller' %}">Стать Продавцом</a></li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'product_seller'%}">Выставить Товар</a></li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{more_info_user.avatar.url}}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; height:145px;">
                        <h5 class="my-3">{{request.user.username}}</h5>
                        <p class="text-muted mb-1">{% if is_seller%}
                            Продавец
                            {%else%}
                            Покупатель
                            {%endif%}</p>
                    </div>
                </div>
                <!--                <div class="card mb-4 mb-lg-0">-->
                <!--                    <div class="card-body p-0">-->
                <!--                        <ul class="list-group list-group-flush rounded-3">-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fas fa-globe fa-lg text-warning"></i>-->
                <!--                                <p class="mb-0">https://mdbootstrap.com</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>-->
                <!--                                <p class="mb-0">@mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                            <span class="material-symbols-outlined input-group-text">
                                person
                            </span>
                                    </div>
                                    <input type="text" class="form-control" id="username" placeholder="Username"
                                    >
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-text">First and last name</span>
                                    <input type="text" aria-label="First name" name="first_name" class="form-control" placeholder="First"
                                           >
                                    <input type="text" aria-label="Last name" name="last_name" class="form-control" placeholder="Last"
                                           >
                                </div>
                            </div>
                            <hr>
                            {% if more_info_user.email_confirm%}
                            <div class="row">
                                <div class="input-group">
                                <span class="material-symbols-outlined input-group-text">
                                    mail
                                </span>
                                    <input type="email" name="email" placeholder="email" class="form-control">
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                               <p class="text-warning mb-0">Подтвердите свой Email</p>
                            </div>
                            {% endif %}
                            <hr>
                            <div class="row">
                                <div class="input-group">
                                <span class="material-symbols-outlined input-group-text">
                                    phone
                                </span>
                                    <input type="text" name="phone" placeholder="Phone" class="form-control">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="input-group">
                                <span class="material-symbols-outlined input-group-text">
                                    home_pin
                                </span>
                                    <input type="text" name="address" placeholder="Address" class="form-control">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="input-group">
                                    <span class="material-symbols-outlined input-group-text">
                                        photo_camera_front
                                    </span>
                                    <input type="file" name="avatar" placeholder="Your Avatar" accept="image/*" class="form-control">
                                </div>
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts%}
<script src="{% static 'js/profile_user/profile.js'%}"></script>
{% endblock %}

