{%extends 'shop/base.html'%}
{% load static %}
{% block head %}
<title>Профиль</title>
<style>
    a{
    text-decoration: none;
    }
    body{
    background-color: #eee;
}
</style>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        {% if is_seller%}
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active"><a href="{% url 'profile' request.user.username%}">Профиль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'edit_profile' request.user.username %}">Редактировать
                            Профиль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'password_change'%}">Сменить Пароль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'email_change'%}">Сменить Email</a></li>
                        {% if not is_seller%}
                        <li class="breadcrumb-item"><a href="{% url 'become_seller' %}">Стать Продавцом</a></li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'product_seller'%}">Выставить Товар</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'seller'%}">Ваша Статистика</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'seller_feedback_list' request.user.username %}">Ваши Отзывы</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'list_seller_products' request.user.username%}">Ваши Товары</a></li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if more_info_user.avatar %}
                        <img src="{{more_info_user.avatar.url}}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; height:145px;">
                        {% else %}
                        <img src="https://media.istockphoto.com/id/678536514/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C-%D0%B7%D0%BD%D0%B0%D1%87%D0%BE%D0%BA-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%BF%D0%BB%D0%BE%D1%81%D0%BA%D0%B8%D0%B9-%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA-%D0%BF%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8C-%D0%B0%D0%B2%D0%B0%D1%82%D0%B0%D1%80.jpg?s=612x612&w=0&k=20&c=JSZ-GRSTLTIm3LHD5ijYf4LnNOFuMo779YExwu4RAhQ="
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; height:145px;">
                        {% endif %}
                        <h5 class="my-3">{{more_info_user.user.username}}</h5>
                        <p class="text-muted mb-1">
                            Продавец
                        </p>
                        <p class="text-secondary fst-italic fw-bold text-center mt-2">Рейтинг Продавца: {{more_info_user.avg_rating}}</p>
                        </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h1 class="fs-3 text-secondary fst-italic fw-bold text-center">Товары Данного Продавца
                            {% if request.user.username != more_info_user.user.username%}
                            <a href="{% url 'feedback_seller' more_info_user.user.username %}"
                                class="btn btn-primary ms-3">Оставить Отзыв</a>
                            {% endif %}
                        </h1>
                        <hr>
                        <div class="row ms-5">
                            {% if not seller_products%}
                            <h5 class="fs-3 text-secondary fst-italic fw-bold text-center">Вы еще не выставили товар на продажу</h5>
                            {%endif%}

                            {% for product in seller_products%}
                            <div class="col-sm-6 mt-3">
                                <div class="card" style="width: 18rem; height:auto;">
                                    <img src="{{product.img.url}}" class="card-img-top" alt="..." height="220">
                                    <div class="card-body">
                                        <h5 class="card-title">{{product.name|slice:":50"}}</h5>
                                        <div>
                                            <a href="{% url 'one_pr' product.slug %}" class="btn btn-primary btn-sm" >К товару</a>
                                            {% if request.user == more_info_user.user %}
                                            <a href="{% url 'update_product' product.slug %}" class="btn btn-primary btn-sm">Редактировать</a>
                                            {% for seller_stat in seller_stats %}
                                            {% if seller_stat.product == product%}
                                            <a href="{% url 'stats_detail' more_info_user.user.username seller_stat.id %}" class="btn btn-primary btn-block mt-2 me-2" style="width:225px;">Статистика по товару</a>
                                            {% endif %}
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


