{%extends 'shop/base.html'%}
{% load static %}
{% block head %}
<title>Профиль</title>
<style>
    a{
    text-decoration: none;
    }


</style>
{% endblock %}

{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active"><a
                                href="{% url 'profile' request.user.username %}">Профиль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'edit_profile' request.user.username %}">Редактировать
                            Профиль</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'password_change'%}">Сменить Пароль</a></li>
                        {% if not is_seller%}
                        <li class="breadcrumb-item"><a href="{% url 'become_seller' %}">Стать Продавцом</a></li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="{% url 'product_seller'%}">Выставить Товар</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'seller'%}">Ваша Статистика</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'seller_feedback_list' request.user.username %}">Ваши Отзывы</a></li>
                        {% endif %}
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        {% if more_info_user.avatar %}
                        <img src="{{more_info_user.avatar.url}}"
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; height:145px;">
                        {% else %}
                        <img src="https://media.istockphoto.com/id/678536514/ru/%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F/%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C-%D0%B7%D0%BD%D0%B0%D1%87%D0%BE%D0%BA-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80-%D0%BF%D0%BB%D0%BE%D1%81%D0%BA%D0%B8%D0%B9-%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA-%D0%BF%D1%80%D0%BE%D1%84%D0%B8%D0%BB%D1%8C-%D0%B0%D0%B2%D0%B0%D1%82%D0%B0%D1%80.jpg?s=612x612&w=0&k=20&c=JSZ-GRSTLTIm3LHD5ijYf4LnNOFuMo779YExwu4RAhQ="
                             alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px; height:145px;">
                        {% endif %}
                        <h5 class="my-3">{{request.user.username}}</h5>
                        <p class="text-muted mb-1">
                            {% if is_seller%}
                            Продавец
                            {%else%}
                            Покупатель
                            {%endif%}
                        </p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <div class="row text-center">
                            <h2 class="fs-5 text-secondary fst-italic mb-0 fw-bold mt-2">Ваши Товары</h2>
                        </div>
                        <hr>
                        {% for product in your_products%}
                        <div class="row ms-1">
                            <div class="col-sm-4">
                                <img src="{{product.img}}" alt="" width="100" height="100">
                            </div>
                            <div class="col-sm-7" style="max-height:200px; overflow:hidden;">
                                <h1 class="fs-5 text-secondary fst-italic mb-0 fw-bold">{{product.name}}</h1>
                                <p class="max-height:70px;">{{product.description}}</p>
                                <a href="{% url 'update_product' product.slug %}">Редактировать Товар</a>
                                <br>
                                <a href="{% url 'one_pr' product.slug %}">К Товару</a>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h1 class="text-center fs-3 text-secondary fst-italic mb-0 fw-bold mt-1">Ваша Статистика</h1>
                        <hr>
                        <div class="row">
                            <div class="text-start">
                                <p class="fs-5 text-secondary fst-italic mb-0 fw-bold"><span class="fs-4 me-3">{{add_cart}}</span>
                                    Пользователей <span class="text-success">Добавили</span> Ваши Товары В Корзину</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="text-start">
                                <p class="fs-5 text-secondary fst-italic mb-0 fw-bold"><span class="fs-4 me-3">{{remove_cart}}</span>
                                    Пользователей <span class="text-danger">Удалили</span> Ваши Товары Из Корзины</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="text-start">
                                <p class="fs-5 text-secondary fst-italic mb-0 fw-bold"><span class="fs-4 me-3">{{add_wish_list}}</span>
                                    Пользователей <span class="text-success">Добавили</span> Ваши Товары В Избранное</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="text-start">
                                <p class="fs-5 text-secondary fst-italic mb-0 fw-bold"><span class="fs-4 me-3">{{remove_wish_list}}</span>
                                    Пользователей <span class="text-danger">Удалили</span> Ваши Товары Из Избранного</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="text-start">
                                <p class="fs-5 text-secondary fst-italic mb-0 fw-bold"><span class="fs-4 me-3">{{bought}}</span>
                                    Пользователей <span class="text-success">Приобрели</span> Ваш Товар</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

