{%extends 'shop/base.html'%}
{% load static%}
{% block head%}
<title>Избранное</title>
<link rel="stylesheet" href="{%static 'css/wishlist.css' %}">
{% endblock%}


{% block content%}
<div class="container text-center">
    <p class="fw-bold fs-3 title-table">Избранное</p>
</div>
<div class="row mx-auto main-div">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <table class="table table-hover">
            <thead class="thead-wish">
            <tr>
                <th colspan="4">
                    {%if favourites%}
                    Ваше Избранное
                    {%else%}
                    У вас нету ничего в Избранном
                    {%endif%}
                </th>
            </tr>
            </thead>
            {% for product in favourites%}
            <tr class="all_data">
                <td class="col-1">
                    <a href="{{product.get_url}}">
                        <img alt="" height="140" src="{{product.img.url}}"
                             width="100" class="me-3">
                    </a>
                </td>
                <td class="text-start col-4">
                    {{product.name}}
                    <br>
                    Цена: {{product.price}}₽
                    <br>
                    id: {{product.id}}
                </td>
                <td class="col-1">
                    <div class="btns-wl">
                        <input type="hidden" name="_token" value="{{ csrf_token }}"/>
                        <button class="btn btn-success rounded-5 mt-3 AddToCart" onclick="add_to_cart({{product.id}})">
                            <span class="material-symbols-outlined">shopping_cart</span>
                        </button>
                        <button class="btn btn-danger rounded-5 deleteBtnWl mt-3"
                                onclick="delete_from_wish({{product.id}})">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{% endblock%}

{% block scripts%}
<script src="{% static 'js/cart/cart.js' %}"></script>
{% endblock%}