{% extends 'shop/base.html'%}
{% load static %}
{% block head%}
<title>Восстановление пароля</title>
<link rel="stylesheet" href="{% static 'css/registration/reset_password.css' %}">
{% endblock %}

{% block content%}
<div class="container shadow p-5 main_content rounded-4">
    <div>
        <p class="text fs-4">Восстановление пароля завершено
            Ваш пароль был сохранен. Теперь вы можете войти.
        </p>
        <a href="{% url 'login_user'%}" class="btn btn-primary">Войти</a>
    </div>

</div>

{% endblock %}