{% extends 'shop/base.html'%}
{% load bootstrap5 %}
{% load static%}

{% block head%}
<link rel="stylesheet" href="{% static 'css/registration/reset_password.css' %}">
{% endblock %}

{% block content%}

<div class="container shadow p-5 main_content rounded-4">
    <div>
        <p class="text fs-5">Здравствуйте! Чтобы восстановить пароль, пожалуйста, Напишите почту на которую регистровались.
            Если у вас есть какие-либо дополнительные вопросы,
            обращайтесь к нам по электронной почте.</p>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token%}
            {% bootstrap_form form layout='inline' %}
            {% bootstrap_form_errors form layout='inline' %}
            <div class="mt-3">
                {% bootstrap_button "Отправить" button_type="submit" button_class="btn-primary" %}
            </div>

        </form>
    </div>
</div>
<div class="need_to_footer"></div>


{% endblock %}