{% extends 'shop/base.html'%}
{% load bootstrap5 %}
{% load static%}

{% block head%}
<title>Восстановление пароля</title>
<link rel="stylesheet" href="{% static 'css/registration/reset_password.css' %}">
{% endblock %}

{% block content%}

<div class="container shadow p-5 main_content rounded-4">
    <div>
        <p class="text fs-4">Введите новый пароль,
            Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
    </div>
    <div>
        <form action="" method="post">
            {% csrf_token%}
            {% bootstrap_form form layout='inline' %}
            {% bootstrap_form_errors form layout='inline' %}
            <div class="mt-3">
                {% bootstrap_button "Изменить Пароль" button_type="submit" button_class="btn-primary" %}
            </div>
        </form>
    </div>
</div>
<div class="need_to_footer"></div>


{% endblock %}