{% extends 'shop/base.html' %}
{% load static bootstrap5 %}
{% block head%}
<title>Регистрация</title>
<link rel="stylesheet" href="{% static 'css/sign_up.css'%}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
{% endblock%}

{% block content%}
<div class="registration-form">
        <form method="post">
            {% csrf_token %}
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            {% bootstrap_field form.username addon_before='<span class="material-symbols-outlined">person</span>' show_label='skip'%}
            {% bootstrap_field form.email addon_before='<span class="material-symbols-outlined">mail</span>' show_label='skip'%}
            {% bootstrap_field form.password1 addon_before='<span class="material-symbols-outlined">key</span>' show_label='skip'%}
            {% bootstrap_field form.password2 addon_before='<span class="material-symbols-outlined">key</span>' show_label='skip'%}
            {% bootstrap_form_errors form %}

            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Зарегистрироваться</button>
            </div>
        </form>
        <div class="social-media">
            <a href="{% url 'reset_password'%}" class="mb-5">Забыли Пароль? <a href="{% url 'login_user' %}">Войти</a></a>
        </div>
    </div>
{% endblock%}
